openapi: 3.1.0
info:
  title: Dockies External API
  description: API для клиентов платформы документооборота
  version: 1.0.0
servers:
  - url: https://api.dockies.com/v1
    description: Production

paths:
  /documents:
    post:
      summary: Создать документ
      operationId: createDocument
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - title
                - content
                - initiator_email
                - recipient_email
              properties:
                type:
                  type: string
                  enum: [contract, payment_request, hr_request, incoming]
                title:
                  type: string
                content:
                  type: string
                initiator_email:
                  type: string
                  format: email
                recipient_email:
                  type: string
                  format: email
                deadline:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Документ создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [processing]
        '400':
          description: Ошибка валидации
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Idempotency-Key уже использован
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'

  /documents/{documentId}:
    get:
      summary: Получить статус документа
      parameters:
        - name: documentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentStatus'
        '404':
          description: Не найден
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'

  /export:
    post:
      summary: Запросить выгрузку для регулятора
      operationId: requestExport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - date_from
                - date_to
              properties:
                document_types:
                  type: array
                  items:
                    type: string
                date_from:
                  type: string
                  format: date
                date_to:
                  type: string
                  format: date
                format:
                  type: string
                  enum: [xml, json, pdfa]
      responses:
        '202':
          description: Запрос принят
          content:
            application/json:
              schema:
                type: object
                properties:
                  export_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [processing]

components:
  schemas:
    Error:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
    DocumentStatus:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [draft, in_progress, approved, rejected, signed]
        current_stage:
          type: string
        history:
          type: array
          items:
            type: object